{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container-fluid" id="login-box">

  <div class="row d-flex justify-content-center align-items-center">

  <div class="card shadow">

    <div class="row d-flex justify-content-center align-items-center">

      <div class="row g-0">
        <div class="col-md-6 col-lg-5 d-none d-md-block">
          <img src="{{ url_for('static', filename='img/coffee-bg.jpg') }}" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-6 col-lg-7 align-items-center">
          <div class="card-body" id="form-body">

            <div class="d-flex align-items-center pb-1 w-center" id="login-logo">
              <img class="me-3 mb-1" src="{{url_for('static', filename='img/logo.png')}}" alt="" width="55" height="52"></a>
              <h1>Cafe & Wifi</h1>
            </div>



            <h1 class="w-center mb-3 pb-1">Welcome Back!</h1>
            <h5 class="w-center fw-normal mb-3 pb-3">Sign into your account</h5>
            <div id="login-form">{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
{% endblock %}