{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container-fluid" id="login-box" xmlns="http://www.w3.org/1999/html">

  <div class="row d-flex justify-content-center align-items-center">

    <div class="card shadow">

      <div class="row d-flex justify-content-center align-items-center">

        <div class="row g-0">
          <div class="col-md-6 col-lg-5 d-none d-md-block">
            <img src="{{ url_for('static', filename='img/coffee-bg.jpg') }}" class="img-fluid rounded-start" alt="...">
          </div>

          <div class="col-md-6 col-lg-7 align-items-center">
            <div class="card-body" id="form-body">

              <div class="d-flex align-items-center pb-1" id="register-logo">
                <img class="me-3 mb-1" src="{{url_for('static', filename='img/logo.png')}}" alt="" width="55" height="52"></a>
                <h1>Cafe & Wifi</h1>
              </div>



              <h2 class="mb-3 pb-1">Welcome!</h2>

              <form action="" method="post" novalidate>
                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>

                <div class="form-outline mb-4">
                  {{ form.name.label(class="form-label") }}
                  {{ form.name(class="form-control form-control-lg") }}
                </div>

                <div class="form-outline mb-4">
                  {{ form.email.label(class="form-label") }}
                  {{ form.email(class="form-control form-control-lg") }}
                </div>

                <div class="form-outline mb-4">
                  {{ form.password.label(class="form-label") }}
                  {{ form.password(class="form-control form-control-lg") }}
                </div>

                <div class="pt-1 mb-4">
                  {{ form.submit(class="btn btn-dark form-control form-control-lg", size=100) }}
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}